.nav{
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
}

.nav img{
  height: 55px;
  /*margin-left: 15px;*/
}

.nav-search{
  width: 700px;
  height: 20px;
}

input {
  background-color: white;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 3px;
}

.nav-buttons {
  display: flex;
  justify-content: center;
  margin-right: 10px;
}

.nav-buttons a{

  border-radius: 5px;
  margin-right: 10px;
  margin-top: 20px;
}

/*.nav-buttons a:hover{
  background-color: black;
  padding: 10px;
  border-radius: 5px;
}*/

.nav-button-login {
  align-items: center;
  vertical-align: middle;
  margin-top: 3px;
}

.nav-button-login a{
  background-color: none;
  color: rgba(255,255,255, 1);
  font-weight: 200;
  font-size: 15px;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  text-align: center;
  justify-content: center;
}
.nav-button-login a:hover{
  color: rgba(255,255,255, 0.5);
}

.nav-button-signup a{
  background-color: white;
  padding: 11px 13px 11px 13px;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.nav-button-signup a:hover{
  color: #0D120A;
  background-color: #EDE3E9;
}

.nav-logo {
  width: 75px;
}

.splash{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.splashBG {
  background: url("https://images.pexels.com/photos/132037/pexels-photo-132037.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  /*height: 110vh;
  width: 100vw;*/
  display: flex;
  justify-content: center;
}


.Modal {
  position: absolute;
  width: 400px;
  background-color: #fff;
  top: 20%;
  left: 50%;
  margin-left: -220px;
  border-radius: 5px;
  padding: 20px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.65);
}

.bodySplash{
  display: flex;
  justify-content: center;
  /*background-color: pink;*/
  flex-direction: column;
  width: 600px;
  /*margin-left: 35%;
  margin-top: 18%;*/
  color:white;
  font-family: 'Noto Sans', sans-serif;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  text-align: center;
}

.bodySplash h1 {
  font-size: 56px;
}

.bodySplash h3 {
  font-size: 26px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer{
  /*position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;*/
  display: flex;
  justify-content: center;
  /*height: 40px;*/
  height: 40px;
  background-color: rgba(0,0,0,0.5);
  color: #D6E3F8;
}

.footer-links {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 18px;
}

.footer-links a:hover {
  color: #EDE3E9;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.shadow {
  -webkit-box-shadow: 2px 2px 3px 3px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    2px 2px 3px 3px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         2px 2px 3px 3px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.fa-2x:hover{
  color: rgba(0, 0, 0, .5);
  /*top: 10px;*/
}

.search-container-glass {
  display: flex;
  align-items: center;
}
