.login-top-info {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}


.login-form label input{
	margin-left: 17%;
	margin-top: 10px;
	padding: 10px;
	width: 230px;
	height: 20px;
}

.login-form-container{

}

.form-submit{
	display: flex;
	font-family: 'Montserrat', sans-serif;
	justify-content: space-around;
	/*background-color: white;*/
  padding: 11px 13px 11px 13px;
  color: black;
  font-size: 18px;
}


.form-submit input:hover{
  color: #0D120A;
  background-color: #EDE3E9;
}

.session_form_ending_tag {
	display: flex;
	justify-content: space-around;
}

.modal-container {
	/*background-color: #EDEDED;*/
	background-color: #black;
}

.header-button{
	background-color: white;
	padding: 5px;
	color: black;
	font-size: 17px;
	border-radius: 5px;
	margin-right: 7px;
}

.login-nav-right{
	display: flex;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
}

.header-name{
	font-family: 'Montserrat', sans-serif;
	margin-right: 10px;
	font-size: 18px;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
}

.header-name:hover {
	color: rgba(0, 0, 0, .5);
	cursor: pointer;
}

.button-front-page{
	background-color: white;
	padding: 5px;
	color: black;
	font-size: 17px;
	border-radius: 5px;
	height: 25px;
	width: 125px;
}

.button-front-page:hover {
	color: #0D120A;
  background-color: #EDE3E9;
}

.button-front-page-container {
	display: flex;
	flex-flow: column;
	justify-content: center;
	margin-left: 5%;
}


.submit-button{
	width: 230px;
	text-align: center;
}

.frontpage-button a {
	background-color: white;
	padding: 11px 13px 11px 13px;
	color: black;
	font-weight: bold;
	font-size: 18px;
	border-radius: 5px;
	border: 1px solid gray;
}
