.login-top-info {
	font-family: 'Noto Sans', sans-serif;
	font-size: 18px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}

.login-form label input{
	margin-left: 17%;
	padding: 10px;
	width: 230px;
	height: 20px;
}

.form-submit{
	display: flex;
	font-family: 'Noto Sans', sans-serif;
	justify-content: space-around;
	background-color: white;
  padding: 11px 13px 11px 13px;
  color: black;
  font-size: 18px;
}


.form-submit input:hover{
  color: #0D120A;
  background-color: #EDE3E9;
}

.session_form_ending_tag {
	display: flex;
	justify-content: space-around;
}

.modal-container {
	/*background-color: #EDEDED;*/
	background-color: #black;
}

.header-button{
	background-color: white;
	padding: 5px;
	color: black;
	font-size: 17px;
	border-radius: 5px;
	margin-right: 7px;
}

.login-nav-right{
	display: flex;
	align-items: center;
	font-family: 'Noto Sans', sans-serif;
}

.header-name{
	font-family: 'Noto Sans', sans-serif;
	margin-right: 10px;
}

.buton-front-page{
	background-color: white;
	padding: 5px;
	color: black;
	font-size: 17px;
	border-radius: 5px;
	margin-right: 7px;
}
