
.search {
  position: relative;
  color: #aaa;
  font-size: 18px;
}

.search input {
  width: 700px;
  /*height: 15px;*/

  border: 1px solid #aaa;
  /*background: #fcfcfc;*/
  border-radius: 7px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.search input { text-indent: 32px;}
.search .fa-search {
  position: absolute;
  top: 9px;
  left: 15px;
}
