.photo-index-container {
  display: flex;
  width: 75%;
  margin: auto;
  justify-content: space-between;
  /*border: 1px solid red;*/
  flex-wrap: wrap;
  margin-top: 140px;
}

.photo-index-item{
  /*-webkit-filter: drop-shadow(5px 5px 5px #222 );
  filter: drop-shadow(2.5px 5px 5px #222);*/
}

.photo-index-item:hover{
  /*background: rgba(255,255,255, 0.5);*/
  
}

.captrBG {
  /*background: url("https://webgradients.com/public/webgradients_png/013%20Heavy%20Rain.png");*/
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  /*position: fixed;*/
  /*top: 0;
  left: 0;
  right: 0;
  bottom: 0;*/
  /*background-color: #e6f3ff;*/
  /*background-color: rgba(230,243,255,0.6);*/
  background: linear-gradient(to right, #f5f7fa , #c3cfe2);
  z-index: -1;
  /*height: 110vh;
  width: 100vw;*/
  display: flex;
  height: 100%;
  height: 100%;
  justify-content: center;
}
