.photo-show-container {
  display:block;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  /*margin-top: 110px;*/
  margin: auto;
  /*border: 1px solid gray;*/
  /*background-color: gray;*/
}

.photo-show-container img{
  z-index: -1;
  -webkit-filter: drop-shadow(5px 5px 5px #222 );
  filter: drop-shadow(2.5px 5px 5px #222);
}
.photo-show-container > h3{
  display: flex;
  justify-content: center;
  font-family: 'Noto Sans', sans-serif;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.photo-show-main-container {
background-color: #E8EAEE;
  /*background: linear-gradient(to right, #f5f7fa , #c3cfe2);*/
  display: flex;
  margin: auto;
  justify-content: space-around;
  height: 780px;
}

.photo-show-user-info > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  -webkit-filter: drop-shadow(5px 5px 5px #222 );
  filter: drop-shadow(2.5px 5px 5px #222);
  /*margin-top: 18px;*/
  margin-left: 30px;
}

.photo-show-user-info {
  display: flex;
  justify-content: center;
  width: 60%;
  margin-top:30px;
}

.photo-user-headers h4{
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  margin-left: 20px;
}

.photo-user-headers h5{
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  margin-left: 30px;
  margin-bottom: 200px;
}

.follow-user-bttn {
  height: 30px;
  margin-top: 20px;
  margin-left: 50px;
}

.information-nav{
  display: flex;
  justify-content: space-between;
}

.delete-bttn-container{
  display: flex;
  justify-content: flex-end;
  margin-top : auto;
  margin-bottom : auto;
  margin-right: 10px;
}

.photo-bttn{
  margin-right: 10px;
}

.fa-times-circle{
  cursor: pointer;
}


.main-ps-container{
  display: flex;
  background-color: pink;
  border: 1px solid black;
  width: 400px
}

.photo-show-title{
  margin-left: 300px;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

.photo-show-description{
  margin-left: 300px;
  margin-top: 20px;
  /*text-transform: uppercase;*/
  font-style: italic;
  font-size: 17px;
}
