.comment-form-container{
  width: 500px;
  height: 400px;
  border: 1px solid black;
  display: flex;
  margin: auto;
  justify-content: center;
}

.empty-spacer{
  height: 80px;
}
.empty-spacer2{
  height: 30px;
  visibility: hidden;
}

.add-comment-box{
  display: flex;
  justify-content: center;
}

.hor-spacer{
  width: 15px;
}

.center-bttn{
  display: flex;
  justify-content: space-around;
}
