.comment-form-container{
  width: 500px;
  height: 400px;
  border: 1px solid black;
  display: flex;
  margin: auto;
  justify-content: center;
}

.tag-form-container{
  // width: 500px;
  // height: 400px;
  border: 1px solid black;
  // margin: auto;
}

.empty-spacer{
  height: 80px;
}
.empty-spacer2{
  height: 30px;
  visibility: hidden;
}

.add-comment-box{
  display: flex;
  justify-content: center;
}

// .bottom-form-container{
//   display: flex;
//   justify-content: space-around;
// }

.hor-spacer{
  width: 15px;
}

.center-bttn{
  display: flex;
  justify-content: space-around;

}

.input-field{
  display: flex;
  justify-content: center;
}
