.album-index-container{
  width: 85%;
  /*border: 1px solid gray;*/
  display: flex;
  margin: auto;
  /*margin-top: 30px;*/
  flex-wrap: wrap;
  justify-content: center;
}

.album-index-item-container {
  height: 375px;
  width: 375px;
  /*background: pink;*/
  /*border: 1px solid black;*/
  border-radius: 5px;
  margin-left: 30px;
  margin-top: 30px;
  overflow: hidden;
  /*-webkit-filter: drop-shadow(7px 5px 5px #222 );
  filter: drop-shadow(5px 5px 5px #222);*/
}

.album-index-item-container > img{
  align-items: center;
}

.new-album > img{
  width: 90%;
  height: 90%;

}

.album-img{
  height: 100%;
}

.album-index-item-info{
  margin: auto;
  /*display: flex;*/
}

.center{
  display: block;
  margin: auto;
  /*width: 75%;*/
  text-align: center;
}

.album-index-profile-img > img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  -webkit-filter: drop-shadow(5px 5px 5px #222 );
  filter: drop-shadow(2.5px 5px 5px #222);
  /*margin-top: 18px;*/
  margin-left: 30px;
}

.url-headers{
  /*position: fixed;*/
  /*margin-top: 90px;*/
}

.url-headers > h1{
  text-align: center;
  margin-top: 80px;
  font-size: 30px;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
}

.paper {
  background: #fff;
  box-shadow:
    /* The top layer shadow */
    0 -1px 1px rgba(0,0,0,0.15),
    /* The second layer */
    0 -10px 0 -5px #eee,
    /* The second layer shadow */
    0 -10px 1px -4px rgba(0,0,0,0.15),
     /* The third layer */
    0 -20px 0 -10px #eee,
    /* The third layer shadow */
    0 -20px 1px -9px rgba(0,0,0,0.15);
    /* Padding for demo purposes */
    padding: 30px;
}
