.album-show-img{
  height: 400px;
  width: 400px;
  border-radius: 5px;
  overflow: hidden;
  /*margin-left: 20px;
  margin-top: 20px;*/
  background: white;
}

.album-show-img > img{
  height: 250px;
  width: 250px;
  margin-right: 25px;
}

.album-photos-container{
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  justify-content: center;
  /*margin-top: 20px;*/
  -webkit-filter: drop-shadow(7px 5px 5px #222 );
  filter: drop-shadow(5px 5px 5px #222);
}

.cover-photo{
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  max-height: 300px;
  max-width: 100%;
  overflow: hidden;
  float:left;
}

.icon-stack{
  display: flex;
  justify-content: center;
  align-items: center;
  /*border: 1px dotted gray;*/
}

.fa-upload{
  width: 100%;
}

.fa-folder{
  width: 100%;
}

html {
  /*background-color: linear-gradient(to right, #f5f7fa , #c3cfe2);*/
  background-color: #E8EAEE;
  background-size: cover;
}

.appBG {
  /*background: red;*/
  /*background: linear-gradient(to right, #f5f7fa , #c3cfe2);*/
  background-color: #E8EAEE;
  background-size: cover;
  /*min-height: 900px;*/
  // min-height: 950px;
}

.appBG2 {
  /*background: red;*/
  /*background: linear-gradient(to right, #f5f7fa , #c3cfe2);*/
  background-color: #E8EAEE;
  background-size: cover;
  /*min-height: 900px;*/
  min-height: 950px;
}

.album-show-bttn-container{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.album-show-html{
  margin-top: 100px;
  margin-left: 200px;
}

.bgColor{
  background-color: #E8EAEE;
  background-size: cover;
  height: 1000px;
}

.album-show-bttn-container-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

.margin-maker{
  margin-top: 90px;
}
