.centered{
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.center-screen{
  position: fixed;
  top: 0%;
  left: 0%;
  /* bring your own prefixes */
  /*transform: translate(-50%, -50%);*/
}

.photo-upload-bg{
  /*background: linear-gradient(to right, #f5f7fa , #c3cfe2);*/
  background-color: #E8EAEE;
  /*background-color: pink;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 1000px;
}

.header{
  text-align: center;
  margin-top: 180px;
}

.photo-form{
  padding: 50px;
  border-radius: 20px;
  max-height: 525px;
  max-width: 400px;
  height: 400px;
  align-items: center;
  margin: auto;
}

.photo-form-header{
  margin-bottom: 10px;
  font-size: 28px;
  font-family: 'Montserrat', sans-serif;
}

.photo-form-main input {
  margin-top: 12px;
}

.photo-form-main button {
  margin-top: 12px;
}

.album-form{
  // padding: 50px;
  border-radius: 20px;
  max-height: 280px;
  max-width: 340px;
  height: 300px;
  align-items: center;
  margin: auto;
}

.album-form-header{
  margin-bottom: 10px;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}

.album-form-main input {
  margin-top: 12px;
}

.album-form-main button {
  margin-top: 12px;
}

.imgSource{
  max-width: 250px;
  max-height: 200px;
  overflow: hidden;
  margin: auto;
  align-items: center;
}

.album-form-main button{
  width: 225px;
  text-align: center;
}

.Modal-photo-form {
  // position: absolute;
  width: 340px;
  height: 480px;
  background-color: #fff;
  // /*background: linear-gradient(to right, #f5f7fa , #c3cfe2);*/
  // background-color: #E8EAEE;
  // top: 20%;
  // left: 39%;
  // // margin-right: 75px;
  margin-top: 70px;
  border-radius: 10px;
  padding: 20px;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.x-icon{
  color: #ff0000;
  font-size: 17px;
  font-weight: bold;
  width: 20px;
  display: flex;
  justify-content: flex-end;
}

.x-icon:hover{
  opacity: .4;
  cursor: pointer;

}

.flex-box-container{
  display: flex;
  justify-content: flex-end;
  margin-right: -30px;
  margin-top: -20px;
}

.flex-box-container2{
  display: flex;
  justify-content: flex-end;
  margin-right: -10px;
  margin-top: -15px;
}

.flex-box-container3{
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  // z-index: 1;
  // margin-top: -15px;
}

.Overlay-photo-form {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.65);
}

.adjust{
  margin-left: 30px;
}

.img-container{
  max-width: 250px;
  max-height: 150px;
  height: 150px;
  width: 250px;
  margin-top: 20px;
  overflow: hidden;
  // border: 1px solid black;
}

.photo-form-bttn-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 60px;
}
