.centered{
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.photo-upload-bg{
  background: linear-gradient(to right, #f5f7fa , #c3cfe2);
  /*background-color: pink;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 1000px;
}

.header{
  text-align: center;
  margin-top: 180px;
}

.photo-form{
  border: 1px solid black;
  padding: 50px;
  border-radius: 20px;
  max-height: 400px;
  height: 400px;
}
